@import "tailwindcss";

@theme {
    --font-sans: "Inter", "sans-serif";
}

body {
    @apply bg-slate-950 text-slate-50 antialiased selection:bg-indigo-500/30;
}

html, body{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #818cf8, /* indigo-400 */
    #22d3ee  /* cyan-400 */
  );
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #6366f1, /* indigo-500 */
    #06b6d4  /* cyan-500 */
  );
}